<!DOCTYPE html>
<html>
<head>
    <title>Chatroom App</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
    <h1>Chatroom</h1>
    <div>
        <input id="username" placeholder="Username">
        <button onclick="joinRoom()">Join Room</button>
        <button onclick="leaveRoom()">Leave Room</button>
        <button onclick="onswitch()">Switch Rooms</button>
    </div>
    
    <div id="chat">
        <ul id="messages"></ul>
        <input id="message_input" placeholder="Type your message...">
        <button onclick="sendMessage()">Send</button>
    </div>

    <!-- Add a button to link to another page -->
    <!-- const room = document.getElementById('room').value; -->
    <div>
        <button onclick="window.location.href='/home'">Go to Home page</button>
    </div>

    <script>
        const socket = io();

        function onswitch() {
            const username = document.getElementById('username').value;
            socket.emit('switch', {username: username});
        }
        function joinRoom() {
            const username = document.getElementById('username').value;
            socket.emit('join', {username: username});
        }

        function leaveRoom() {
            const username = document.getElementById('username').value;
            socket.emit('leave', {username: username});
        }

        function sendMessage() {
            const msg = document.getElementById('message_input').value;
            const name = document.getElementById('username').value;
            socket.emit('message', {msg: msg, name: name});
            document.getElementById('message_input').value = '';
        }

        socket.on('status', function(data) {
            const li = document.createElement('li');
            li.textContent = data.msg;
            document.getElementById('messages').appendChild(li);
        });

        socket.on('message', function(data) {
            const li = document.createElement('li');
            li.textContent = data.msg;
            document.getElementById('messages').appendChild(li);
        });
    </script>
</body>
</html>
